"# Сборка" 
"build/" 
"out/" 
"*-autogen/" 
"*.exe" 
"*.o" 
"*.obj" 
"" 
"# Qt" 
"*.user" 
"*.user.*" 
"*.creator" 
"*.files" 
"*.includes" 
"" 
"# IDE" 
".vs/" 
".vscode/" 
"*.swp" 
"" 
"# CMake" 
"CMakeLists.txt.user" 
"CMakePresets.json" 
"CMakeUserPresets.json" 
"*.cmake" 
"" 
"# Тестовые файлы" 
"test*.txt" 
"" 
"# Старые файлы" 
"arrow.*" 
"dag.*" 
"diagramcontroller.*" 
"diagramitem.*" 
"edge.*" 
"node.*" 
"operations.*" 
"diagramtextitem.*" 
"images/" 
