# Qt Creator
*.user
*.user.*
CMakeLists.txt.user*
*.autogen/
*.creator
*.files
*.includes
*.config

# CMake
CMakeCache.txt
CMakeUserPresets.json
CMakePresets.json
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake



# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# Debug/Release папки
Debug/
Release/
*.Debug
*.Release

# Временные файлы
*.tmp
*.log
*.autosave